* {
  box-sizing: border-box;
}


.register-container {

  min-height:100vh;

  width:100%;

  display:flex;

  justify-content:center;

  align-items:center;

  padding:20px;

  background:linear-gradient(
    135deg,
    #667eea,
    #764ba2
  );

}


.register-card {

  width:100%;

  max-width:400px;

  padding:40px;

  background:white;

  border-radius:20px;

  text-align:center;

  box-shadow:
  0 20px 40px rgba(0,0,0,0.15);

  animation:slideUp 0.6s ease;

}


.logo {

  font-size:30px;

  font-weight:700;

  color:#6c5ce7;

  margin-bottom:20px;

}


h1 {

  font-size:32px;

  margin-bottom:10px;

}


.subtitle {

  color:#777;

  margin-bottom:30px;

}


.input-box {

  margin-bottom:15px;

}


.input-box input {

  width:100%;

  padding:14px;

  border-radius:10px;

  border:1px solid #ddd;

  font-size:16px;

  outline:none;

}


.input-box input:focus {

  border-color:#6c5ce7;

}


.terms {

  text-align:left;

  font-size:14px;

  margin-bottom:20px;

}


.register-btn {

  width:100%;

  padding:14px;

  border:none;

  border-radius:10px;

  background:#6c5ce7;

  color:white;

  font-size:16px;

  cursor:pointer;

  transition:0.3s;

}


.register-btn:hover {

  transform:translateY(-2px);

}


.login-link {

  margin-top:25px;

  font-size:14px;

}


.login-link a {

  color:#6c5ce7;

  text-decoration:none;

  margin-left:5px;

}



@media(max-width:480px){

  .register-card{

    padding:25px 20px;

  }


  h1{

    font-size:26px;

  }


  .logo{

    font-size:24px;

  }

}



@keyframes slideUp {

  from {

    opacity:0;

    transform:translateY(40px);

  }

  to {

    opacity:1;

    transform:translateY(0);

  }

}

.message {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
  color: green;
  text-align: center;
}